<div id='fellowship' class='text-center hidden-xs hidden-sm'>
  <h3>Join Our Fellowship</h3>
  <h4>To Plant A Billion <a href='http://www.plantabillion.org'>Trees</a></h4>
  <div><a href='http://www.plantabillion.org'><img src='{{ 'logo-nature.png' | asset_img_url }}' class='conservancyLogo'></a></div>
  <div style='font-size:0.8em'>Every Ring Purchased Helps Plant A <a href='http://www.nature.org/ourinitiatives/habitats/forests/howwework/plant-a-billion-trees.xml'>Tree</a></div>

  <div  class='text-center'><a href='http://www.elysiitechnologies.com'><img class='img-responsive center-block' src='{{ 'elysii_logo.png' | asset_img_url }}' class='elysiiLogo'></a></div>
  <div style='margin-top: -1em'><span class='cursor:pointer' onclick='$("#a8").collapse("show"); window.scrollTo(0,$("#q8").offset().top)'>It Matters How It's Made</span></div>
</div>
