<div class='container-fluid'>
  <div class='row'>
    <div id='fellowshipBanner' class='hidden-md hidden-lg col-sm-12 col-xs-12'>
  <h3 class='text-center'>Join Our Fellowship</h3>
<img src='{{ 'logo-nature.png' | asset_img_url }}' style='display:inline-block'> To Plant A Billion <a href='http://www.nature.org/ourinitiatives/habitats/forests/howwework/plant-a-billion-trees.xml'>Trees</a>

  <div style='font-size:0.8em'>Every Ring Purchased Helps Plant A <a href='http://www.nature.org/ourinitiatives/habitats/forests/howwework/plant-a-billion-trees.xml'>Tree</a></div>
</div>
</div>
</div>
