<div class='row'>
  <div id='fellowshipBottom' class='text-center col-md-12'>
  <h3>Join Our Fellowship</h3>
  <p>to <b>plant a billion trees</b> with My Preciousss and The Nature Conservancy.
A portion of every Ring purchase will help maintain a forest or plant new trees.</p>
  <img src='' class='conservancyLogo'>
  <a href='http://www.plantabillion.org' class='btn btn-default'>Learn More &nbsp;<i class="fa fa-caret-right" aria-hidden="true"></i>
</a>
</div>
</div>
