<footer id="footer" class="footer col-md-12">
<div class='small text-center text-muted'>My Preciousss, The One Ring, The Lord of the Rings and the characters, items, events and places therein are trademarks or registered trademarks of The Saul Zaentz Company d/b/a Middle-earth Enterprises and are used, under license by Esos, Inc.</div>
<div class='col-md-4 col-md-offset-4 text-center'><img class='center-block' style='display:inline-block; height: 2em' src='{{'me_logo.png' | asset_img_url}}'> <img class='center-block' style='display:inline-block; height: 2em' src='{{'mc_logo.png' | asset_img_url}}'></div>
</footer>
