{% if collection %}
<section class="section-wrap">
	{% include '__containers-open' %}
	<hr>
	<ul class="pager">
		<li{% unless collection.previous_product %} class="disabled"{% endunless %}>{{ '&laquo; Previous' | link_to: collection.previous_product }}</li>
		<li>{{ collection.title | link_to: collection.url }}</li>
		<li{% unless collection.next_product %} class="disabled"{% endunless %}>{{ 'Next &raquo;' | link_to: collection.next_product }}</li>
	</ul>
	{% include '__containers-close' %}
</section>
{% endif %}

{% if product.metafields.social-feed.instagram != blank %}
  {% include 'social-feed-instagram' with product %}
{% endif %}
