
{% layout 'homepage' %}
{% include 'theme-variables' %}

<!-- Homepage Intro -->
{% unless settings.homepage-content == blank %}{% assign homepage = pages[settings.homepage-content] %}
<section id="homepage-intro" class="section-wrap">
	{% include '__containers-open' %}
		{% unless homepage.content == blank %}
		{% include '__formatted-content' with homepage.content %}
		{% endunless %}
	{% include '__containers-close' %}
</section>
{% endunless %}
